In [1]:
import pandas as pd
from lxml import html
import requests
import numpy as np
from lxml.etree import XPathEvalError

In [58]:
page = requests.get('https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time-inflation-adjusted')
tree = html.fromstring(page.content)
tabela = pd.read_html(page.content)
df = tabela[0][tabela[0]['Released']>2000]

In [2]:
# druga strona
page2 = requests.get('https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time-inflation-adjusted/401')
tree2 = html.fromstring(page2.content)
tabela2 = pd.read_html(page2.content)
df2 = tabela2[0][tabela2[0]['Released']>2000]

In [3]:
df2.reset_index(drop=True)

,Rank,Released,Movie,Total Box Office
0,401,2018,Mission: Impossible—Fallout,"$220,159,104"
1,403,2011,Cars 2,"$219,939,150"
2,404,2005,Fantastic Four,"$219,856,668"
3,408,2009,X-Men Origins: Wolverine,"$218,498,075"
4,409,2002,The Santa Clause 2,"$218,249,983"
5,410,2015,Cinderella,"$217,377,081"
6,413,2018,Ant-Man and the Wasp,"$216,648,740"
7,414,2012,Wreck-It Ralph,"$216,516,450"
8,415,2018,Bohemian Rhapsody,"$216,303,340"
9,416,2015,Spectre,"$216,131,343"
10,419,2006,Over the Hedge,"$215,607,044"
11,420,2009,Night at the Museum: Battle of the Smithsonian,"$215,292,039"
12,421,2018,A Star is Born,"$215,288,866"
13,424,2008,Quantum of Solace,"$214,757,090"
14,426,2011,Sherlock Holmes: A Game of Shadows,"$214,435,626"
15,427,2014,22 Jump Street,"$213,777,619"
16,428,2018,Solo: A Star Wars Story,"$213,767,512"
17,429,2018,Venom,"$213,511,408"
18,430,2014,Teenage Mutant Ninja Turtles,"$213,203,826"
19,432,2017,Coco,"$212,532,784"
20,433,2004,"I, Robot","$212,421,468"
21,436,2019,It: Chapter Two,"$211,593,228"
22,438,2001,Lara Croft: Tomb Raider,"$211,081,889"
23,439,2015,Mission: Impossible—Rogue Nation,"$210,775,328"
24,440,2003,The Matrix Revolutions,"$210,364,859"
25,442,2013,The Croods,"$209,729,928"
26,443,2014,Interstellar,"$209,470,922"
27,445,2003,Bad Boys II,"$209,304,691"
28,455,2011,Thor,"$207,968,346"
29,456,2012,Lincoln,"$207,619,742"
30,461,2003,Cheaper by the Dozen,"$207,095,325"
31,463,2002,Minority Report,"$207,012,925"
32,465,2006,Talladega Nights: The Ballad of Ricky Bobby,"$206,141,044"
33,467,2012,Men in Black 3,"$204,884,419"
34,468,2003,Anger Management,"$204,802,675"
35,469,2020,Bad Boys For Life,"$204,417,855"
36,471,2010,The Karate Kid,"$203,897,296"
37,473,2011,Rise of the Planet of the Apes,"$203,062,456"
38,474,2011,Captain America: The First Avenger,"$202,941,056"
39,475,2002,The Ring,"$202,311,026"
40,476,2009,2012,"$201,610,604"
41,477,2018,Ralph Breaks The Internet,"$201,091,711"
42,480,2003,Bringing Down the House,"$200,443,267"
43,483,2003,Hulk,"$199,690,644"
44,485,2002,Sweet Home Alabama,"$199,405,419"
45,486,2015,Pitch Perfect 2,"$199,162,355"
46,487,2009,The Proposal,"$199,154,357"
47,489,2010,Tron: Legacy,"$198,430,777"
48,490,2002,Mr. Deeds,"$198,026,393"
49,492,2014,How to Train Your Dragon 2,"$197,368,004"
50,493,2010,True Grit,"$197,229,086"
51,495,2007,Knocked Up,"$196,979,599"
52,498,2008,Horton Hears a Who,"$196,067,297"
53,500,2004,Troy,"$195,547,507"

In [4]:
df2 = df2.reset_index(drop=True)

In [5]:
page_string2 = page2.content.decode('utf-8').replace('&hellip;', '…')

In [8]:
list_of_movie_urls = []

for title in df2['Movie']:
    if title not in page_string2:
        print(title)
        list_of_movie_urls.append('movie title not found')
    else:
            try:
                if title == '2012':
                    movie_url = 'https://www.the-numbers.com/movie/2012#tab=summary'
                else:
                    movie_url = "https://www.the-numbers.com" + tree2.xpath(f"//table//a[text()='{title}']/@href")[0].replace('#tab=box-office', '#tab=summary')
            except XPathEvalError:
                if title == "Ocean's Eleven":
                    movie_url = 'https://www.the-numbers.com/movie/Oceans-Eleven#tab=box-office'
                elif title == "Madagascar 3: Europe's Most Wanted":
                    movie_url = 'https://www.the-numbers.com/movie/Madagascar-3#tab=box-office'
                elif title == "Doctor Seuss' The Lorax":
                    movie_url = 'https://www.the-numbers.com/movie/Lorax-The#tab=box-office'
                else:
                    print(title + ' XPathEvalError')
                    exit()
    list_of_movie_urls.append(movie_url)

df2['url'] = list_of_movie_urls

In [9]:
df2

,Rank,Released,Movie,Total Box Office,url
0,401,2018,Mission: Impossible—Fallout,"$220,159,104",https://www.the-numbers.com/movie/Mission-Impo...
1,403,2011,Cars 2,"$219,939,150",https://www.the-numbers.com/movie/Cars-2#tab=s...
2,404,2005,Fantastic Four,"$219,856,668",https://www.the-numbers.com/movie/Fantastic-Fo...
3,408,2009,X-Men Origins: Wolverine,"$218,498,075",https://www.the-numbers.com/movie/X-Men-Origin...
4,409,2002,The Santa Clause 2,"$218,249,983",https://www.the-numbers.com/movie/Santa-Clause...
5,410,2015,Cinderella,"$217,377,081",https://www.the-numbers.com/movie/Cinderella-(...
6,413,2018,Ant-Man and the Wasp,"$216,648,740",https://www.the-numbers.com/movie/Ant-Man-and-...
7,414,2012,Wreck-It Ralph,"$216,516,450",https://www.the-numbers.com/movie/Wreck-It-Ral...
8,415,2018,Bohemian Rhapsody,"$216,303,340",https://www.the-numbers.com/movie/Bohemian-Rha...
9,416,2015,Spectre,"$216,131,343",https://www.the-numbers.com/movie/Spectre#tab=...
10,419,2006,Over the Hedge,"$215,607,044",https://www.the-numbers.com/movie/Over-the-Hed...
11,420,2009,Night at the Museum: Battle of the Smithsonian,"$215,292,039",https://www.the-numbers.com/movie/Night-at-the...
12,421,2018,A Star is Born,"$215,288,866",https://www.the-numbers.com/movie/Star-is-Born...
13,424,2008,Quantum of Solace,"$214,757,090",https://www.the-numbers.com/movie/Quantum-of-S...
14,426,2011,Sherlock Holmes: A Game of Shadows,"$214,435,626",https://www.the-numbers.com/movie/Sherlock-Hol...
15,427,2014,22 Jump Street,"$213,777,619",https://www.the-numbers.com/movie/22-Jump-Stre...
16,428,2018,Solo: A Star Wars Story,"$213,767,512",https://www.the-numbers.com/movie/Solo-A-Star-...
17,429,2018,Venom,"$213,511,408",https://www.the-numbers.com/movie/Venom-(2018)...
18,430,2014,Teenage Mutant Ninja Turtles,"$213,203,826",https://www.the-numbers.com/movie/Teenage-Muta...
19,432,2017,Coco,"$212,532,784",https://www.the-numbers.com/movie/Coco-(2017)#...
20,433,2004,"I, Robot","$212,421,468",https://www.the-numbers.com/movie/I-Robot#tab=...
21,436,2019,It: Chapter Two,"$211,593,228",https://www.the-numbers.com/movie/It-Chapter-T...
22,438,2001,Lara Croft: Tomb Raider,"$211,081,889",https://www.the-numbers.com/movie/Lara-Croft-T...
23,439,2015,Mission: Impossible—Rogue Nation,"$210,775,328",https://www.the-numbers.com/movie/Mission-Impo...
24,440,2003,The Matrix Revolutions,"$210,364,859",https://www.the-numbers.com/movie/Matrix-Revol...
25,442,2013,The Croods,"$209,729,928",https://www.the-numbers.com/movie/Croods-The#t...
26,443,2014,Interstellar,"$209,470,922",https://www.the-numbers.com/movie/Interstellar...
27,445,2003,Bad Boys II,"$209,304,691",https://www.the-numbers.com/movie/Bad-Boys-II#...
28,455,2011,Thor,"$207,968,346",https://www.the-numbers.com/movie/Thor#tab=sum...
29,456,2012,Lincoln,"$207,619,742",https://www.the-numbers.com/movie/Lincoln#tab=...
30,461,2003,Cheaper by the Dozen,"$207,095,325",https://www.the-numbers.com/movie/Cheaper-by-t...
31,463,2002,Minority Report,"$207,012,925",https://www.the-numbers.com/movie/Minority-Rep...
32,465,2006,Talladega Nights: The Ballad of Ricky Bobby,"$206,141,044",https://www.the-numbers.com/movie/Talladega-Ni...
33,467,2012,Men in Black 3,"$204,884,419",https://www.the-numbers.com/movie/Men-in-Black...
34,468,2003,Anger Management,"$204,802,675",https://www.the-numbers.com/movie/Anger-Manage...
35,469,2020,Bad Boys For Life,"$204,417,855",https://www.the-numbers.com/movie/Bad-Boys-For...
36,471,2010,The Karate Kid,"$203,897,296",https://www.the-numbers.com/movie/Karate-Kid-T...
37,473,2011,Rise of the Planet of the Apes,"$203,062,456",https://www.the-numbers.com/movie/Rise-of-the-...
38,474,2011,Captain America: The First Avenger,"$202,941,056",https://www.the-numbers.com/movie/Captain-Amer...
39,475,2002,The Ring,"$202,311,026",https://www.the-numbers.com/movie/Ring-The#tab...
40,476,2009,2012,"$201,610,604",https://www.the-numbers.com/movie/2012#tab=sum...
41,477,2018,Ralph Breaks The Internet,"$201,091,711",https://www.the-numbers.com/movie/Ralph-Breaks...
42,480,2003,Bringing Down the House,"$200,443,267",https://www.the-numbers.com/movie/Bringing-Dow...
43,483,2003,Hulk,"$199,690,644",https://www.the-numbers.com/movie/Hulk#tab=sum...
44,485,2002,Sweet Home Alabama,"$199,405,419",https://www.the-numbers.com/movie/Sweet-Home-A...
45,486,2015,Pitch Perfect 2,"$199,162,355",https://www.the-numbers.com/movie/Pitch-Perfec...
46,487,2009,The Proposal,"$199,154,357",https://www.the-numbers.com/movie/Proposal-The...
47,489,2010,Tron: Legacy,"$198,430,777",https://www.the-numbers.com/movie/Tron-Legacy#...
48,490,2002,Mr. Deeds,"$198,026,393",https://www.the-numbers.com/movie/Mr-Deeds#tab...
49,492,2014,How to Train Your Dragon 2,"$197,368,004",https://www.the-numbers.com/movie/How-to-Train...
50,493,2010,True Grit,"$197,229,086",https://www.the-numbers.com/movie/True-Grit-(2...
51,495,2007,Knocked Up,"$196,979,599",https://www.the-numbers.com/movie/Knocked-Up#t...
52,498,2008,Horton Hears a Who,"$196,067,297",https://www.the-numbers.com/movie/Horton-Hears...
53,500,2004,Troy,"$195,547,507",https://www.the-numbers.com/movie/Troy#tab=sum...

In [10]:
df_global = pd.DataFrame()

In [12]:
df_global = df_global.append(df2)

In [13]:
df_global.reset_index(drop=True)

,Rank,Released,Movie,Total Box Office,url
0,401,2018,Mission: Impossible—Fallout,"$220,159,104",https://www.the-numbers.com/movie/Mission-Impo...
1,403,2011,Cars 2,"$219,939,150",https://www.the-numbers.com/movie/Cars-2#tab=s...
2,404,2005,Fantastic Four,"$219,856,668",https://www.the-numbers.com/movie/Fantastic-Fo...
3,408,2009,X-Men Origins: Wolverine,"$218,498,075",https://www.the-numbers.com/movie/X-Men-Origin...
4,409,2002,The Santa Clause 2,"$218,249,983",https://www.the-numbers.com/movie/Santa-Clause...
5,410,2015,Cinderella,"$217,377,081",https://www.the-numbers.com/movie/Cinderella-(...
6,413,2018,Ant-Man and the Wasp,"$216,648,740",https://www.the-numbers.com/movie/Ant-Man-and-...
7,414,2012,Wreck-It Ralph,"$216,516,450",https://www.the-numbers.com/movie/Wreck-It-Ral...
8,415,2018,Bohemian Rhapsody,"$216,303,340",https://www.the-numbers.com/movie/Bohemian-Rha...
9,416,2015,Spectre,"$216,131,343",https://www.the-numbers.com/movie/Spectre#tab=...
10,419,2006,Over the Hedge,"$215,607,044",https://www.the-numbers.com/movie/Over-the-Hed...
11,420,2009,Night at the Museum: Battle of the Smithsonian,"$215,292,039",https://www.the-numbers.com/movie/Night-at-the...
12,421,2018,A Star is Born,"$215,288,866",https://www.the-numbers.com/movie/Star-is-Born...
13,424,2008,Quantum of Solace,"$214,757,090",https://www.the-numbers.com/movie/Quantum-of-S...
14,426,2011,Sherlock Holmes: A Game of Shadows,"$214,435,626",https://www.the-numbers.com/movie/Sherlock-Hol...
15,427,2014,22 Jump Street,"$213,777,619",https://www.the-numbers.com/movie/22-Jump-Stre...
16,428,2018,Solo: A Star Wars Story,"$213,767,512",https://www.the-numbers.com/movie/Solo-A-Star-...
17,429,2018,Venom,"$213,511,408",https://www.the-numbers.com/movie/Venom-(2018)...
18,430,2014,Teenage Mutant Ninja Turtles,"$213,203,826",https://www.the-numbers.com/movie/Teenage-Muta...
19,432,2017,Coco,"$212,532,784",https://www.the-numbers.com/movie/Coco-(2017)#...
20,433,2004,"I, Robot","$212,421,468",https://www.the-numbers.com/movie/I-Robot#tab=...
21,436,2019,It: Chapter Two,"$211,593,228",https://www.the-numbers.com/movie/It-Chapter-T...
22,438,2001,Lara Croft: Tomb Raider,"$211,081,889",https://www.the-numbers.com/movie/Lara-Croft-T...
23,439,2015,Mission: Impossible—Rogue Nation,"$210,775,328",https://www.the-numbers.com/movie/Mission-Impo...
24,440,2003,The Matrix Revolutions,"$210,364,859",https://www.the-numbers.com/movie/Matrix-Revol...
25,442,2013,The Croods,"$209,729,928",https://www.the-numbers.com/movie/Croods-The#t...
26,443,2014,Interstellar,"$209,470,922",https://www.the-numbers.com/movie/Interstellar...
27,445,2003,Bad Boys II,"$209,304,691",https://www.the-numbers.com/movie/Bad-Boys-II#...
28,455,2011,Thor,"$207,968,346",https://www.the-numbers.com/movie/Thor#tab=sum...
29,456,2012,Lincoln,"$207,619,742",https://www.the-numbers.com/movie/Lincoln#tab=...
30,461,2003,Cheaper by the Dozen,"$207,095,325",https://www.the-numbers.com/movie/Cheaper-by-t...
31,463,2002,Minority Report,"$207,012,925",https://www.the-numbers.com/movie/Minority-Rep...
32,465,2006,Talladega Nights: The Ballad of Ricky Bobby,"$206,141,044",https://www.the-numbers.com/movie/Talladega-Ni...
33,467,2012,Men in Black 3,"$204,884,419",https://www.the-numbers.com/movie/Men-in-Black...
34,468,2003,Anger Management,"$204,802,675",https://www.the-numbers.com/movie/Anger-Manage...
35,469,2020,Bad Boys For Life,"$204,417,855",https://www.the-numbers.com/movie/Bad-Boys-For...
36,471,2010,The Karate Kid,"$203,897,296",https://www.the-numbers.com/movie/Karate-Kid-T...
37,473,2011,Rise of the Planet of the Apes,"$203,062,456",https://www.the-numbers.com/movie/Rise-of-the-...
38,474,2011,Captain America: The First Avenger,"$202,941,056",https://www.the-numbers.com/movie/Captain-Amer...
39,475,2002,The Ring,"$202,311,026",https://www.the-numbers.com/movie/Ring-The#tab...
40,476,2009,2012,"$201,610,604",https://www.the-numbers.com/movie/2012#tab=sum...
41,477,2018,Ralph Breaks The Internet,"$201,091,711",https://www.the-numbers.com/movie/Ralph-Breaks...
42,480,2003,Bringing Down the House,"$200,443,267",https://www.the-numbers.com/movie/Bringing-Dow...
43,483,2003,Hulk,"$199,690,644",https://www.the-numbers.com/movie/Hulk#tab=sum...
44,485,2002,Sweet Home Alabama,"$199,405,419",https://www.the-numbers.com/movie/Sweet-Home-A...
45,486,2015,Pitch Perfect 2,"$199,162,355",https://www.the-numbers.com/movie/Pitch-Perfec...
46,487,2009,The Proposal,"$199,154,357",https://www.the-numbers.com/movie/Proposal-The...
47,489,2010,Tron: Legacy,"$198,430,777",https://www.the-numbers.com/movie/Tron-Legacy#...
48,490,2002,Mr. Deeds,"$198,026,393",https://www.the-numbers.com/movie/Mr-Deeds#tab...
49,492,2014,How to Train Your Dragon 2,"$197,368,004",https://www.the-numbers.com/movie/How-to-Train...
50,493,2010,True Grit,"$197,229,086",https://www.the-numbers.com/movie/True-Grit-(2...
51,495,2007,Knocked Up,"$196,979,599",https://www.the-numbers.com/movie/Knocked-Up#t...
52,498,2008,Horton Hears a Who,"$196,067,297",https://www.the-numbers.com/movie/Horton-Hears...
53,500,2004,Troy,"$195,547,507",https://www.the-numbers.com/movie/Troy#tab=sum...

In [14]:
#"https://www.the-numbers.com" + 
movie_title = df_global['Movie'][0]
movie_title

'Mission: Impossible—Fallout'

In [15]:
movie_url = df_global['url'][0]

In [16]:
movie_url

'https://www.the-numbers.com/movie/Mission-Impossible-Fallout#tab=summary'

In [18]:
movie_page = requests.get(movie_url)
movie_tree = html.fromstring(movie_page.content)

In [19]:
tabele_film = pd.read_html(movie_page.content)

In [25]:
tabele_film[10]

,Date,Rank,Gross,%YD,%LW,Theaters,Per Theater,Total Gross,Days
0,"Jul 26, 2018",P,"$6,000,000",NaN,NaN,0,NaN,"$6,000,000",NaN
1,"Jul 27, 2018",1,"$22,803,458",NaN,NaN,4386,"$5,199","$22,803,458",1.0
2,"Jul 28, 2018",1,"$21,421,918",-6%,NaN,4386,"$4,884","$44,225,376",2.0
3,"Jul 29, 2018",1,"$17,011,158",-21%,NaN,4386,"$3,879","$61,236,534",3.0
4,"Jul 30, 2018",1,"$6,838,935",-60%,NaN,4386,"$1,559","$68,075,469",4.0
...,...,...,...,...,...,...,...,...,...
80,"Oct 14, 2018",-,"$40,466",-44%,-60%,221,$183,"$220,087,856",80.0
81,"Oct 15, 2018",-,"$15,668",-61%,-77%,221,$71,"$220,103,524",81.0
82,"Oct 16, 2018",-,"$20,664",+32%,-53%,221,$94,"$220,124,188",82.0
83,"Oct 17, 2018",-,"$17,047",-18%,-47%,221,$77,"$220,141,235",83.0
84,"Oct 18, 2018",-,"$17,869",+5%,-43%,221,$81,"$220,159,104",84.0

In [ ]:
# tabele_film
# jest 17 tabel
# [0] ogólne dane ; total earnings
# [1] statystyki takie jak legs, opening weekend, production budget, czy film zarobił, domestic BO inflation adjusted
# [2] miejsce na ważnych rankingach w the-numbers.com
# [3] informacje o gatunkach, długości, franchise, dacie premiery, języku
# [4] pomniejsze rekordy
# [5] główni aktorzy (mało - do star wars tylko driver, ridley i boyega)
# [6] cała obsada chyba
# [7] wszyscy twórcy np abrams, kasdan itp
# [8] pozycje na różnych rankingach domestic
# [9] tygodniowy boxoffice domestic
# [10] MOJA GŁÓWNA TABELA - DZIENNY BOXOFFICE
# [11] tygodniowy boxoffice global
# [12] statystyki dla państw
# [13] miejsca w rankingach international
# [14] miejsca w rankingach worldwide
# [15] tygodniowe ale nie w dolarach tylko w unitsthisWeek (co to jest?); spendingthisWeek, TotalSpending; domstic
# [16] to samo co [15] ale chyba worldwide

IndexError: list index out of range

In [56]:
# TERA PISZEMY LOOP

In [63]:
from random import randint
from time import sleep
import os

In [131]:
print(randint(3,6))

6

In [64]:
from random import randint
from time import sleep
import os



movies = tabela[0]['Movie']
for title in movies:
    foldername = title.replace('.','').replace(' ', '_').replace(':','')
    if not os.path.exists(f'boxoffice_data/{foldername}'):
        os.makedirs(f'boxoffice_data/{foldername}')
    #sleep(randint(3,6))
    print(title)

Star Wars Ep. VII: The Force Awakens
Avengers: Endgame
Avatar
Black Panther
Avengers: Infinity War
Titanic
Jurassic World
The Avengers
Star Wars Ep. VIII: The Last Jedi
Incredibles 2
The Lion King
The Dark Knight
Rogue One: A Star Wars Story
Star Wars: The Rise of Skywalker
Beauty and the Beast
Finding Dory
Frozen II
Star Wars Ep. I: The Phantom Menace
Star Wars Ep. IV: A New Hope
Avengers: Age of Ultron
The Dark Knight Rises
Shrek 2
ET: The Extra-Terrestrial
Toy Story 4
Captain Marvel
The Hunger Games: Catching Fire
Pirates of the Caribbean: Dead Man’s Chest
The Lion King
Jurassic World: Fallen Kingdom
Toy Story 3
Wonder Woman
Iron Man 3
Captain America: Civil War
The Hunger Games
Spider-Man
Jumanji: Welcome to the Jungle
Jurassic Park
Transformers: Revenge of the Fallen
Frozen
Spider-Man: Far From Home
Guardians of the Galaxy Vol 2
Harry Potter and the Deathly Hallows: Part II
Finding Nemo
Star Wars Ep. III: Revenge of the Sith
The Lord of the Rings: The Return of the King
Spider-Man 2
The Passion of the Christ
The Secret Life of Pets
Despicable Me 2
The Jungle Book
Deadpool
Inside Out
Aladdin
Furious 7
Transformers: Dark of the Moon
American Sniper
The Lord of the Rings: The Two Towers
Zootopia
The Hunger Games: Mockingjay - Part 1
Spider-Man 3
Minions
Joker
Aquaman
Spider-Man: Homecoming
Alice in Wonderland
Guardians of the Galaxy
Batman v Superman: Dawn of Justice
Forrest Gump
It
Suicide Squad
Deadpool 2
Shrek the Third
Transformers
Iron Man
Harry Potter and the Sorcerer’s Stone
Indiana Jones and the Kingdom of the Crystal Skull
Jumanji: The Next Level
The Lord of the Rings: The Fellowship of the Ring
Thor: Ragnarok
Iron Man 2
Star Wars Ep. II: Attack of the Clones
Pirates of the Caribbean: At World’s End
Star Wars Ep. VI: Return of the Jedi
Independence Day
Pirates of the Caribbean: The Curse of the Blac…
Skyfall
The Hobbit: An Unexpected Journey
Harry Potter and the Half-Blood Prince
The Twilight Saga: Eclipse
The Twilight Saga: New Moon
Harry Potter and the Deathly Hallows: Part I
The Sixth Sense
Up
Inception
The Twilight Saga: Breaking Dawn, Part 2
Harry Potter and the Order of the Phoenix
The Chronicles of Narnia: The Lion, the Witch a…
Man of Steel
Star Wars Ep. V: The Empire Strikes Back
Harry Potter and the Goblet of Fire

In [61]:
import os
if not os.path.exists('boxoffice_data/film1'):
    os.makedirs('boxoffice_data/film1')